@font-face {
    font-family: Lato-Light;
    src: url(fonts/Lato-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

:root {
    --primaryColor: #047aed;
    --secondaryColor: #1c3fa8;
    --darkColor: #002240;
    --lightColor: #f4f4f4;
    --successColor: #5cb85c;
    --errorColor: #d9534f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato-Light, cursive;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
p {
    margin: 10px 0;
}

img {
    width: 100%;
}

code, pre {
    background: #333;
    color: #fff;
    padding: 10px;
}

.hidden {
    visibility: hidden;
    height:0;
}

.navbar {
    background-color: var(--primaryColor);
    color: #fff;
    height: 70px;
}

.navbar ul{
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.navbar .flex {
    justify-content: space-between;
}

.showCase {
    height: 400px;
    background-color: var(--primaryColor);
    color: #fff;
    position: relative;
}

.showCase h1 {
    font-size: 40px;
}

.showCase p {
    margin: 20px 0;
}

.showCase .grid {
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showCaseText {
    animation: slideInFromLeft 1s ease-in;
}

.showCaseForm {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    animation: slideInFromRight 1s ease-in;
}

.showCaseForm .formControl {
    margin: 30px 0;
}

.showCaseForm input[type="text"], .showCaseForm input[type="email"] {
    border:0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    margin-bottom: 25px;
    font-size: 16px;
}

.showCaseForm input:focus {
    outline: none;
}

.showCase::before, .showCase::after {
    content: "";
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left:0;
    background-color: white;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

.stats {
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-in;
}

.statsHeading {
    max-width: 500px;
    margin: auto;
}

.stats .grid h3 {
    font-size: 35px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}

.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1/ span 2;
}

.cloud .grid {
    grid-template-columns: 4fr 3fr;
}

.languages .card {
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}

.languages .flex {
    flex-wrap: wrap;
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.languages .card:hover {
    transform: translateY(-15px);
}

.featuresHead img, .docsHead img {
    width: 200px;
    justify-self: flex-end;
}

.featuresSubHead img {
    width:300px;
    justify-self: flex-end;
}

.featuresMain .card > i {
    margin-right: 20px;
}

.featuresMain .grid {
    padding:30px;
}

.featuresMain .grid .card:first-child {
    grid-column: 1 / span 3;
}

.featuresMain .grid .card:nth-child(2) {
    grid-column: 1 / span 2;
}

.docsMain h3 {
    margin: 20px 0;
}

.docsMain .grid {
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
}

.docsMain nav li {
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.docsMain a:hover {
    font-weight: bold;
}

.footer .social a {
    margin: 0 10px;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    .grid, .showCase .grid, .stats .grid, .cli .grid, .cloud .grid, .featuresMain .grid, .featuresHead .grid, .featuresSubHead .grid, .docsHead .grid, .docsMain .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showCase {
        height: auto;
    }

    .showCaseText {
        text-align: center;
        margin-top: 40px;
        animation: slideInFromTop 1s ease-in;
    }

    .showCaseForm {
        justify-self: center;
        margin: auto;
        animation: slideInFromBottom 1s ease-in;
    }

    .cli .grid > *:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    .featuresHead, .featuresSubHead, .docsHead {
        text-align: center;
    }
    .featuresHead img, .featuresSubHead img, .docsHead img {
        justify-self: center;
    }

    .featuresMain .grid .card:first-child, .featuresMain .grid .card:nth-child(2) {
        grid-column: 1;
    }
}

@media screen and (max-width: 500px) {
    .navbar {
        height: 110px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
}